 *{
     box-sizing: border-box;
 }

 body{
     padding: o;
     margin: 0;
     background-color: antiquewhite;
 }
 #selector_container{
     background-color: rgb(193, 129, 33);
 }
 div[classname='selector']{
    display: inline-block;
    border: 1px solid navy;
    width: 30px;
    text-align: center;
    margin: 1px;
 }
 div[classname='selector']:hover{
    background-color: rgb(226, 211, 189);
    cursor: pointer;

 }


 #container{
     width: 95%;
     margin: auto;
     /* padding: 1px; */
    display: grid;
    grid-template-columns: auto auto auto;

 }
 button{
     width: 20px;
     height: 20px;
 }

 button[id='selected']{
    background-color: rgb(66, 72, 238);
    color: palegreen;
   
}

button:hover{
    /* background-color: blue; */
    cursor: pointer;
}


div[classname='box']{
    width: 95%;
    height: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(10, 222, 77);
    margin: 1px;
    padding: 1px;

}